<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
     
    </ion-toolbar>
   
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank">ver estudiantess</a></p>
  </div>


  <ion-button (click)="getEstudiantes()">
    <ion-icon slot="icon-only" name="search"></ion-icon>
  </ion-button>

</ion-content>
